.about {
  display: flex;
  flex-direction: row;
  max-height: 27.1875em;
  padding: 2.56% 6% 2.56% 8.55%;
  background: var(--1, #fbfbfb);
  margin: 7.5em 0;
}

.wrapper-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 35.625em;
}

.about__img {
  max-width: 45%;
}

.about__img_mid {
  max-height: 16.5625em;
  margin-right: 1.5625em;
}

@media (max-width: 1170px) {
  .about__img_mid {
    max-height: 52%;
  }
}

.about__img_big {
  max-height: 21.5625em;
  margin-top: 1.875em;
}

.about__img_small {
  transform: translate(0, -50%);
  max-height: 8.75em;
}

.about__text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-width: 25em;
  margin-left: 1.5625em;
}

.about__subtitle {
  margin-bottom: 3.125em;
  color: #000;
  font-family: Roboto-Regular, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
