body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-family: $roboto-l;
    font-weight: 300;
    color: rgb(188, 188, 188);
    font-size: 4em;
    text-transform: capitalize;
}