.contact-form__send-button:hover {
  background-color: #8d8d8d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form__contact-us__section-image {
  width: 64%;
  margin-left: 1em;
  margin-top: 0.6em;
}

.contact-form__contact-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8125em;
}

.contact-form__contact-us__input-section {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.contact-form__contact-us__input-section__input {
  height: 2.5em;
  font-size: smaller;
  font-family: $roboto-r;
  color: #8d8d8d;
  border: none;
  background-color: #f3f3f3;
  margin-top: 0.6em;
  letter-spacing: 0.1em;
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form__contact-us__input_textarea {
  padding-top: 0.8em;
  flex-grow: 1;
}
