*,
*::before,
*::after {
    box-sizing: border-box;
}
.nav{
    width: 1440px;
    height: 102px;
    display: flex;
    flex-direction: row;
}
.nav__logo{
    width: 400px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
}
.nav__logo-img, .nav__logo-text{
    width: 70px;
}
.nav__logo-text{
    position: absolute;
}
.nav__menu{
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    padding-top: 30px;
    padding-left: 0;
    font-family: $roboto-r, sans-serif;
    color: #333;
}
.nav__menu-link{
    color: #333;
    list-style: none;
}
#main-link{
    padding: 3px 9px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#main-link, #gallery-link, #project-link, #certifications-link, #contacts-link{
    color: #333;
}


