*,
*::before,
*::after {
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}
.project{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.project__number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    height: 100px;
    font-family: $roboto-l, sans-serif;
    font-weight: 300;
    color: rgb(188, 188, 188);
    font-size: 2em;
}
.project__number-slash{
    height: 40%;
    border-right: 2px solid;
    transform: rotate(40deg)
}
.project__page-img{
    width: 770px;
    height: 829px;
}
.project__page{
    display: flex;
    flex-direction: column-reverse;
}
.project__button-left{
    background: #FFF;
}
.project__button-right{
    background: #F9F9F9;
}
.project__button-left, .project__button-right{
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: $roboto-r, sans-serif;
    color: var(--Gray-1, #333);
    letter-spacing: 0.25em;
    transition: 1s;
}
.project__page-button{
    background: #FFF;
    position: absolute;
    width: 222px;
    height: 71px;
    padding: 20px 30px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: $roboto-r, sans-serif;
    color: var(--Gray-1, #333);
    letter-spacing: 0.25em;
    font-size: 0.75em;
    transition: 1s;
}
.project__page-button:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__button-left:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__button-right:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__title {
    font-family: $roboto-l, sans-serif;
    font-weight: 300;
    color: rgb(188, 188, 188);
    font-size: 4em;
}
#lorum{
    color: var(--Gray-1, #333);
    font-family: $roboto-r, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
}

@media (max-width: 992px) {
    .content{
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    .project__number{
        display: none;
    }
    #lorum{
        padding-left: 4vw;
    }
    .buttons{
        margin-left: 7vw;
    }
}

