.content{
    display: flex;
    flex-direction: row;
}
.project{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.project__number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    height: 100px;
    font-family: $roboto-l, sans-serif;
    font-weight: 300;
    color: rgb(188, 188, 188);
    font-size: 2em;
}
.project__number-slash{
    height: 40%;
    border-right: 2px solid;
    transform: rotate(40deg)
}
.project__page-img{
    width: 770px;
    height: 829px;
}
.project__page{
    max-height: fit-content;
    display: flex;
    flex-direction: column-reverse;
}
.project__button-left{
    background: #FFF;
}
.project__button-right{
    background: #F9F9F9;
}
.project__button-left, .project__button-right{
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: $roboto-r, sans-serif;
    color: var(--Gray-1, #333);
    letter-spacing: 0.25em;
    transition: 1s;
}
.project__page-button{
    background: #FFF;
    position: absolute;
    width: 222px;
    height: 71px;
    padding: 20px 30px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: $roboto-r, sans-serif;
    color: var(--Gray-1, #333);
    letter-spacing: 0.25em;
    font-size: 0.75em;
    transition: 1s;
    margin-bottom: 40px;
}
.project__page-button:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__button-left:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__button-right:hover{
    background-color:rgb(188, 188, 188);
    color: #fff;
}
.project__title {
    font-family: $roboto-l, sans-serif;
    font-weight: 300;
    color: rgb(188, 188, 188);
    font-size: 4em;
}
#lorum{
    color: var(--Gray-1, #333);
    font-family: $roboto-r, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
}

@media (max-width: 992px) {
    .content{
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    .project__number{
        display: none;
    }
    #lorum{
        padding-left: 4vw;
    }
    .buttons{
        margin-left: 7vw;
    }
    .project__page-button{
        margin-bottom: 39px;
        align-self: flex-start;
    }
    .project__page{
        align-items: center;
        width: 80%;
        height: 80%;
    }
    .project__page-img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 767px){
    .project__title{
        font-size: 3em;
        margin-left: 15px;
}
    .buttons{
        width: 40%;
        margin: 20px 0 20px 70px;
    }
    .project__button-left, .project__button-right{
        width: 30px;
        height: 30px;
    }
    .project__page{
        width: 70%;
        height: 70%;
    }
    .project__page-button{
        width: 150px;
        height: 20px;
        font-size: 0.5em;
        padding: 20px 10px;
    }
}
@media(max-width: 1024px){
    .project__page-img{
        width: 90%;
        height: 90%;
    }
}
@media (max-width: 630px){
    .project__title{
        text-align: center;
        margin-left: auto;
    }
    #lorum{
        padding: 0;
    }
    .buttons{
        margin-left: 65px;
        margin-bottom: 20px;
    }
}
@media (max-width: 489px){
    .project__title{
        font-size: 2em;
    }
    .buttons{
        width: 50%;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 0;
    }
}