*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

.main-focus {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
}

.block-title {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto-Light, sans-serif;
  font-size: 4em;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}

.wrapper__main-focus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-focus__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 25.8125em;
  max-height: 9em;
  margin: 1.25em;
}

.main-focus__text_2 {
  max-width: 35.625em;
}

.main-focus__text-big {
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto-Regular, sans-serif;
  font-size: 12.5em;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.main-focus__text-small {
  color: var(--Gray-1, #333);
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.375em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.main-focus__text-small_2 {
  padding-left: 1.875em;
}
