.projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 7.5em;
}
.wrapper__projects-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.875em;
}

.projects__link {
  min-height: 15.9375em;
  position: relative;
  margin-bottom: 1.7em;
}

.projects__link:hover:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: var(--Gray-1, #333);
}

.projects__link:nth-child(1) {
  min-width: 48.72%;
  background: url(../img/img12.png) no-repeat;
}

.projects__link:nth-child(2) {
  min-width: 48.72%;
  background: url(../img/img15.png) no-repeat;
}

.projects__link:nth-child(3) {
  min-width: 23%;
  background: url(../img/img16.png) no-repeat;
}

.projects__link:nth-child(4) {
  min-width: 40%;
  background: url(../img/img17.png) no-repeat;
}

.projects__link:nth-child(5) {
  min-width: 31.6%;
  background: url(../img/img18.png) no-repeat;
}

.projects__text {
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 0;
  transition: 2s;
}

.projects__link:hover .projects__text {
  opacity: 1;
}

.projects__title {
  color: #fff;
  font-family: $roboto-r;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
}

.projects__subtitle {
  color: #fff;
  font-family: $roboto-r;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.projects a {
  align-self: flex-end;
}

@media (max-width: 992px) {
  .projects__link:nth-child(3) {
    display: none;
  }
  .projects__link:nth-child(4) {
    min-width: 48.72%;
  }

  .projects__link:nth-child(5) {
    min-width: 48.72%;
  }
}

@media (max-width: 630px) {
  .projects {
    margin-bottom: 5em;
  }
  .wrapper__projects-img {
    margin-top: 2em;
  }
  .projects__link:nth-child(1),
  .projects__link:nth-child(2) {
    min-width: 100%;
  }
  .projects__link:nth-child(4),
  .projects__link:nth-child(5) {
    display: none;
  }
}
